# Ignore video files etc.
Benchmark/video/*
Benchmark/training/*

# Don't put secrets in version control lolz
terraform/account.json
terraform/.terraform
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
